Source: apply-shell-expansion
Section: utils
Priority: optional
Maintainer: Daniel Dalgo <dalguete@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://dalguete.com
Vcs-Browser: https://github.com/dalguete/apply-shell-expansion.git

Package: apply-shell-expansion
Architecture: any
Description: Helper utility used to expand shell variables defined in a file.
  This way you can expand the file with env variables defined before using its contents.

